.playing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9F6EE;
    letter-spacing: 2px;
    margin: 150px 0px 50px 0px;
}
.playing-container img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    object-fit: cover;
    -webkit-user-drag: none;
    box-shadow: 10px 10px 212px 26px rgba(0,0,0,0.75);
}
.playing-song-info {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playing-song-info h4 {
    margin: 50px 0px 10px 0px;
}
.playing-btns {
    font-size: 3rem;
    margin: 0px 20px;
}
.controls {
    padding-top: 30px;
    cursor: pointer;
}
