.playlist-container {
    display: flex;
    padding-right: 50px;
}
.playlist-container img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    margin: 10px 20px 10px 10px;
    -webkit-user-drag: none;
}
.playlist-info {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.playlist-info h1 {
    font-size: 1.2rem;
}
.playlist-info h2 {
    font-size: 1rem;
}
.playlist-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F9F6EE;
}
.playlist-add-song {
    font-size: 1.5rem;
}
.playlist-playbtn:hover{
    color: lightblue;
    cursor: pointer;
}
.playlist-addbtn:hover {
    color: lightblue;
    cursor: pointer;  
}
.playlist-edit {
    display: flex;
}

