.Queue-container {
    color: #F9F6EE;
    display: flex;
    flex-direction: column;
}
.q-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 20px 10px 0px;
}
.q-container {
    display: flex;
    justify-content: space-between;
}
.q-songCard {
    display: flex;
    flex-direction: column;
}
.q-songCard h1 {
    font-size: 1.2rem;
}
.q-songCard h2{
    font-size: 1rem;
}
.q-container button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.4rem;
    cursor: pointer;
}
.q-container button:hover {
   color: lightblue;
   cursor: pointer;
}
.q-leftSide {
    display: flex;
    align-items: center;
}