@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
}

a{
   text-decoration: none;
}